body, h1, h2, ul, li, p, dd, dt, dl {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

body {
    background-color: #E8E9F3;
    color: #222;
    -webkit-font-smoothing: antialiased;
    display: grid;
    grid-template-columns: 1fr 110px minmax(300px, 1000px) 1fr;
}